

.wrapper {
  padding-left: 250px;

}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #000;
}

.wrapper #sidebar-wrapper {
  width: 250px;
}

.page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 2%;
}

.wrapper .page-content-wrapper {
  position: absolute;
  margin-right: -250px;
}

/* Sidebar Styles */
.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #999999;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav>.sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav>.sidebar-brand a {
  color: #999999;
}

.sidebar-nav>.sidebar-brand a:hover {
  color: #fff;
  background: none;
}

  .wrapper {
    padding-left: 0;
  }
  .wrapper {
    padding-left: 250px;
  }
  #sidebar-wrapper {
    width: 0;
  }
  .wrapper #sidebar-wrapper {
    width: 250px;
  }
  .page-content-wrapper {
    padding: 20px;
    position: relative;
  }
  .wrapper .page-content-wrapper {
    position: relative;
    margin-right: 0;
  }

footer{
  width: 100%;
  height: 80px;
  background-color: black;
  margin-top: 4%;

}

li img
{
width:100%;
height:100%;
display: inline-block;
}

#navimg
{
  height: 20%;
  text-indent: unset;
}
h1
{
  font-size: 500%;
  margin:0.5%;
}

.card {
  height: 100%;
}

@media all and (min-width: 500px) and (max-width: 1000px){

body {
  overflow-x: hidden;
}

.wrapper {
  padding-left: 250px;
  margin-top: 50px;
  margin-bottom: 100px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  bottom: 80px;
  overflow-y: auto;
  background: #000;
  padding-top: 80px;
}

.wrapper #sidebar-wrapper {
  width: 250px;
}

.page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 2%;
}

.wrapper .page-content-wrapper {
  position: absolute;
  margin-right: -250px;
}

/* Sidebar Styles */
.sidebar-nav {
  position: absolute;
  top: 80px;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #999999;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav>.sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav>.sidebar-brand a {
  color: #999999;
}

.sidebar-nav>.sidebar-brand a:hover {
  color: #fff;
  background: none;
}

  .wrapper {
    padding-left: 0;
  }
  .wrapper {
    padding-left: 250px;
  }
  #sidebar-wrapper {
    width: 0;
  }
  .wrapper #sidebar-wrapper {
    width: 250px;
  }
  .page-content-wrapper {
    padding: 20px;
    position: relative;
  }
  .wrapper .page-content-wrapper {
    position: relative;
    margin-right: 0;
  }

footer{
  position: fixed;
  width: 100%;
  height: 80px;
  background-color: black;
  margin-top: 4%;
  bottom: 0;
}

li img
{
width:100%;
height:100%;
display: inline-block;
}

#navimg
{
  height: 20%;
  text-indent: unset;
}
h1
{
  font-size: 500%;
  margin:0.5%;
}

}









@media all and ((min-width: 300px) and (max-width: 400px)){


body {
  overflow-x: hidden;
}

.wrapper {
  padding-left: 250px;
  margin-top: 50px;

}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 79%;
  margin-left: -250px;
  overflow-y: auto;
  background: #000;
}

.wrapper #sidebar-wrapper {
  width: 250px;
}

.page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 2%;
}

.wrapper .page-content-wrapper {
  position: absolute;
  margin-right: -250px;
}

/* Sidebar Styles */
.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #999999;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav>.sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav>.sidebar-brand a {
  color: #999999;
}

.sidebar-nav>.sidebar-brand a:hover {
  color: #fff;
  background: none;
}

  .wrapper {
    padding-left: 0;
  }
  .wrapper {
    padding-left: 149px;
    margin-bottom: 30%;
  }
  #sidebar-wrapper {
    width: 0;
  }
  .wrapper #sidebar-wrapper {
    width: 45%;
  }
  .page-content-wrapper {
    padding: 20px;
    position: relative;
  }
  .wrapper .page-content-wrapper {
    position: relative;
    margin-right: 0;
  }

footer{
  position: fixed;
  width: 100%;
  height: 80px;
  background-color: black;
  margin-top: 4%;
  bottom: 0;
}


li img
{
width:65%;
height:100%;
display: inline-block;
}

#navimg
{
  height: 20%;
  text-indent: unset;
}
h1
{
  font-size: 500%;
  margin:0.5%;
}

li{
  font-size: 80%;
}
}

.js-cookie-consent.cookie-consent {
  position: fixed;
  bottom: 0;
  margin: 0;
  padding: 20px;
  text-align: center;
  width: 100%;
  background-color: black;
}

span.cookie-consent__message {
  color: white;
}

button.js-cookie-consent-agree {
  border: none;
  border-radius: 3px;
  background: #f4645f;
  padding: 10px 15px;
  font-size: 16px;
  color: #fff;
}

#contleft{
  display: flex;
  flex-direction: column;

}

#contleft a{
  margin-left:2%;
  width:50%;
  height:5%;
  margin-top: 1%;

}

.comment{

   margin-bottom: 1%;
   margin-left: 2%;
  border: 1px solid black;
  border-radius: 10px;

}
#cmrow {
  margin-top: 2%;
   display: flex;
  flex-direction: column;
  height: 2%;
}

.page-content-wrapper{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;


}
.conteneur{
  margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
}

/*bare lateral en %
texte en pourcentage et plus petit
retrecir le carroussel*/
